<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipely">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipely"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".RecipeDetails"
            android:exported="false" />
        <activity
            android:name=".ingred_seafood"
            android:exported="false" />
        <activity
            android:name=".ingred_mushroom"
            android:exported="false" />
        <activity
            android:name=".ingred_meat"
            android:exported="false" />
        <activity
            android:name=".ingred_dairy"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".clearFridge"
            android:exported="false" />
        <activity
            android:name=".ingred_nuts"
            android:exported="false" />
        <activity
            android:name=".Account_account_node"
            android:exported="false" />
        <activity
            android:name=".ingred_veg"
            android:exported="false" />
        <activity
            android:name=".resetPassword"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>